case $(uname -s) in
    Darwin)
        alias ls='gls $LS_OPTIONS -hF'
        alias ll='gls $LS_OPTIONS -lhF'
        alias l='gls $LS_OPTIONS -lAhF'
    ;;
    Linux)
        alias ls='ls $LS_OPTIONS -hF'
        alias ll='ls $LS_OPTIONS -lhF'
        alias l='ls $LS_OPTIONS -lAhF'
    ;;
esac

alias cd..="cd .."
alias c="clear"
alias e="exit"
alias ..="cd .."

alias sqlite="sqlite3"

# Bundler
alias be="bundle exec"
alias bi="bundle install"
alias bl="bundle list"
alias bp="bundle package"
alias bo="bundle open"
alias bu="bundle update"

# Enable tap to click (Trackpad)
alias enable-tap-to-click="defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad Clicking -bool true"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
alias show-hidden="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder"
alias hide-hidden="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hide-desktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias show-desktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Enable/disable Spotlight
alias spot-off="sudo mdutil -a -i off"
alias spot-on="sudo mdutil -a -i on"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "$method"="lwp-request -m '$method'"
done

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 10'"

# SSH Aliases
alias ssh-scicombinator="ssh dazoakley@scicombinator.com"
alias ssh-hocuspokus="ssh admin@hocuspokus2.default.dazoakley.uk0.bigv.io"

##
## Docker
##

alias docker-clean-images='docker rmi $(docker images --filter "dangling=true" -q --no-trunc)'
alias docker-clean-containers='docker rm $(docker ps -qa --no-trunc --filter "status=exited")'
alias docker-rm-all-containers='docker rm -f $(docker ps -a -q)'
alias docker-rm-all-images='docker rmi -f $(docker images -q)'

##
## NeoVim
##

if type nvim > /dev/null 2>&1; then
    alias vim='nvim'
fi

##
## Git
##

# GPG sign all commits in current branch
alias git-sign-branch="git rebase --exec 'git commit --amend --no-edit -n -S' -i master"

# Get a pretty git log
alias git-log="git log --decorate --graph --oneline"

## YAML helpers

function parse_yaml() {
    ruby -ryaml -e "puts YAML.load_file('${1}').to_yaml"
}

function yaml_to_json() {
    ruby -ryaml -rjson -e "puts JSON.pretty_generate(YAML.load_file('${1}'))"
}

alias ack='rg'

# kubectl

alias k='kubectl'
alias ka='kubectl apply --recursive -f'
alias kex='kubectl exec -i -t'
alias klo='kubectl logs -f'
alias kp='kubectl proxy'
alias kg='kubectl get'
alias kd='kubectl describe'
alias krm='kubectl delete'
alias krun='kubectl run --rm --restart=Never --image-pull-policy=IfNotPresent -i -t'
alias kgpo='kubectl get pods'
alias kdpo='kubectl describe pods'
alias krmpo='kubectl delete pods'
alias kgdep='kubectl get deployment'
alias kddep='kubectl describe deployment'
alias krmdep='kubectl delete deployment'
alias kgsvc='kubectl get service'
alias kdsvc='kubectl describe service'
alias krmsvc='kubectl delete service'
alias kging='kubectl get ingress'
alias kding='kubectl describe ingress'
alias krming='kubectl delete ingress'
alias kgcm='kubectl get configmap'
alias kdcm='kubectl describe configmap'
alias krmcm='kubectl delete configmap'
alias kgsec='kubectl get secret'
alias kdsec='kubectl describe secret'
alias krmsec='kubectl delete secret'
alias kgno='kubectl get nodes'
alias kdno='kubectl describe nodes'
alias kgns='kubectl get namespaces'
alias kdns='kubectl describe namespaces'
alias krmns='kubectl delete namespaces'

alias kx='kubectx'
alias kn='kubens'

alias dadjoke='curl -H "Accept: text/plain" https://icanhazdadjoke.com/'
