[user]
  name = Darren Oakley
  email = daz.oakley@gmail.com
[credential]
  helper = osxkeychain
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  promote = !$ZSH/bin/git-promote
  wtf     = !$ZSH/bin/git-wtf
[merge]
  tool = opendiff
  summary = true
[core]
  editor = atom
  excludesfile = ~/.gitignore
[push]
  default = matching

