[user]
name = Darren Oakley
email = darren.oakley@hmrc.gov.uk
signingkey = D624F937CF3B8135
[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = true
[alias]
st = status
ci = commit -S
co = checkout
br = branch
[core]
editor = nvim
excludesfile = ~/.gitignore
pager = diff-so-fancy | less --tabs=4 -RFX
[filter "lfs"]
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
[commit]
	gpgsign = true
[push]
default = simple
[mergetool "smerge"]
cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
trustExitCode = true
[pull]
rebase = true
[init]
defaultBranch = main
[credential]
	helper =
	helper = /usr/local/bin/git-credential-manager-core
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
[gpg]
	program = gpg2
